*{
    box-sizing: border-box;
}

.cart{
    text-align: center;
    height: 100%;
}

.Shoppingtable{
text-align: center;
}

.item-card{
border: solid black 1px;

}

.product_img{
    height:200px;
    width:200px;
}

.checkout-table{
    height: 200px;
    width: 200px;
    border: 1px solid red;
}

.item-table{
display: flex;
}

.item-table .item-card{
    flex:1;
}

.item-table{
    margin: 0 0 10px 0;
}