.portfolio
    text-align: center
    justify-content: center
    align-items: center
    align-content: center

.videoGrid
    max-width: 1000px
    margin: 0 auto
    display: flex

.videoBox
    margin: 10px
    flex-grow: 1
    flex-shrink: 1
    flex-basis: 0





