.product_image{
    height: 200px;
    width: 200px;
}



.product-card{
display: flex;
flex-direction: column;

justify-content: center; 
align-items: center;
align-content: center;
border: 1px black solid;
width: 300px;
height:350px;
}
