.product_image{
    height: 200px;
    width: 200px;
}

.product-card-box{
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center; align-items: center;
align-content: center;
}