.dashboard{
    text-align: center;
}

.react-player {
position: absolute;
top: 0;
left: 0;
}

.react-wrapper{
position: relative;
padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */     
}

@media(min-width: 700px){}


@media(min-width: 1400px){}