.footer{
    display: flex;
    position: fixed;
    justify-content: space-between;
    height: 100px;
    width:100vw;
    background-color: #353638; 
    bottom:0;
    align-items: center;
}

/* Social Media */
.social-media{
    color:white;
    justify-content: center;
    left: 0;
    display: flex;
}

.facebook{
    filter: grayscale(100%);
    width: 50px;
    height: 50px;
}

.facebook:hover{
    transition-duration: 1s;
    filter:grayscale(0%)
}

.instagram{
    filter: grayscale(100%);
    width: 50px;
    height: 50px;
}

.instagram:hover{
    transition-duration: 1s;
    filter:grayscale(0%)
}

.twitter{
    filter: grayscale(100%);
    width: 50px;
    height: 50px;
}

.twitter:hover{
    transition-duration: 1s;
    filter:grayscale(0%)
}

.youtube{
    filter: grayscale(100%);
    width: 50px;
    height: 50px;
}

.youtube:hover{
    transition-duration: 1s;
    filter:grayscale(0%)
}

.vimeo{
    filter: grayscale(100%);
    width: 50px;
    height: 50px;
}

.vimeo:hover{
    transition-duration: 1s;
    filter: grayscale(0%)
}


.title-img{
    height: 50px;
    width: 20%
}


/* Contact */
.OG-website{
    color:white;
    justify-content: center;
    height:100px;
}

.OverrideLogo{
    height:100%;
}

/* Address */
.address{
    justify-content: flex-end;
    color:white;
}