.footer{
    display: flex;
    position: fixed;
    justify-content: center;
    height: 100px;
    width:100vw;
    background-color: #353638; 
    bottom:0;   
}

.social-media{
    justify-content: flex-start;
    
}

.contact{
    justify-content: center;

}

.address{
    justify-content: flex-end;

}