@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit; }

BODY {
  min-height: 100vh;
  width: 100%;
  background: #F6EFE3;
  font-family: "Josefin Sans", sans-serif; }

H2 {
  margin: 8px 0; }

P {
  line-height: 1.4;
  font-size: .6rem;
  font-family: "Open Sans", sans-serif; }

.underline {
  display: inline-block;
  position: relative; }
  .underline::after {
    content: '';
    background: #D7C0D0;
    position: absolute;
    bottom: 0px;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 8px; }

.App {
  padding: 0 2rem;
  background: transparent;
  color: #262730; }
