@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit; }

BODY {
  min-height: 100vh;
  width: 100%;
  background: #F6EFE3;
  font-family: "Josefin Sans", sans-serif; }

H2 {
  margin: 8px 0; }

P {
  line-height: 1.4;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif; }

.underline {
  display: inline-block;
  position: relative; }
  .underline::after {
    content: '';
    background: #D7C0D0;
    position: absolute;
    bottom: 0px;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 8px; }

.App {
  padding: 0 2rem;
  background: transparent;
  color: #262730; }

.header_bar {
  display: flex;
  background-color: #353638;
  height: 100px;
  width: 100vw;
  position: fixed;
  justify-content: flex-start;
  align-items: center;
  z-index: 3; }

.Override_logo {
  position: absolute;
  width: auto;
  height: 100px; }

.cart-img {
  z-index: -1;
  position: fixed;
  margin-right: 5px; }

.title {
  display: flex;
  text-transformation: uppercase;
  color: #7BB9CB;
  font-size: 36px;
  margin-left: 70px; }

.links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-content: space-between;
  width: 350px;
  position: absolute;
  right: 0;
  margin-right: 100px; }

.space {
  height: 100px; }

span {
  color: grey;
  cursor: pointer; }

span:hover {
  color: #7BB9CB; }

/* unvisited link */
a:link {
  color: grey;
  text-decoration: none; }

/* visited link */
a:visited {
  color: grey; }

/* mouse over link */
a:hover {
  color: #7BB9CB; }

/* selected link */
a:active {
  color: #7BB9CB; }

.portfolio {
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column; }

.videoBox {
  display: flex;
  flex-direction: column; }

body {
  overflow-x: hidden; }

.background-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden; }
  .background-video iframe {
    position: absolute;
    top: -140px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden; }
